
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* CSS Reset end */

body {
  font-family: "Caveat", cursive;
}


.jumbotron {
  position: relative;
  background-image: url(img/indeximg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 556px;
}

.jumbotron h2 {
  padding-top: 150px;
  text-align: center;
  font-size: 80px;
  font-weight: 800;
  color: #0bf09cf3;
}

.jumbotron .scroll-down {
    height: 80px;
    width: 110px;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 5%;
    background-color: #18224b;
    text-align: center;
}
.jumbotron .scroll-down i {
    color: #FFFFFF;
    font-size: 40px;
    padding-top: 20px; 
    animation: jump 1.5s infinite; 
}

@keyframes jump {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, -9px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
.navbar li a{
    display: block;
    height: 80px;
    width: 110px;
    background-color: #18224b;
    text-align: center;
}
.background-white {
    background: #FFFFFF;
}





.topmenu li a:hover {
  color: #00ffa2;
  font-size: 23px;
}
.container {
  padding-top: 30px;
  width: 900px;
  margin: 0 auto;
}

.introduction h3,
.introduction h3,
.introduction h3 {
  font-size: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.introduction p {
  font-size: 30px;
  padding-bottom: 10px;
}

.aboutMe {
  display: flex;
  padding-top: 30px;
}
.profileImg,
.intro,
.detail {
  flex: 1;
  text-align: left;
}
.profileImg img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.aboutMe h4 {
  font-size: 28px;
  padding-bottom: 25px;
}
.aboutMe p {
  font-size: 20px;
  letter-spacing: 1px;
}
.intro {
  padding-right: 80px;
}
.intro p {
  padding-bottom: 20px;
}
.detail h5 {
  font-size: 25px;
  color: rgb(131, 130, 128);
  padding-bottom: 20px;
}
.detail p {
  padding-bottom: 20px;
}
.color {
  color: rgb(20, 85, 74);
}
.project {
  margin-top: 20px;
  background-color: rgb(243, 239, 225);
}
.footer {
  background-color: rgb(121, 119, 119);
}
